In [3]:
students = {
    'abhay' : {'college':'npgc', 'type':'offline'},
    'aman' : 'npgc',
    'satyam' : 'npgc',
    'sameer' : 'au',
    'sumit' : 'iu',
    'shoeb' : {
        'college': 'iet',
        'tpye' : 'online'
    },
    'kartik': {
        'college':'hnbgu',
        'type':'online'
    }
}

In [12]:
from pprint import pp

In [11]:
pp(students)

{'abhay': {'college': 'npgc', 'type': 'offline'},
 'aman': 'npgc',
 'satyam': 'npgc',
 'sameer': 'au',
 'sumit': 'iu',
 'shoeb': {'college': 'iet', 'tpye': 'online'},
 'kartik': {'college': 'hnbgu', 'type': 'online'}}

In [13]:
students['kartik']['type']

'online'

In [14]:
students['abhay']

{'college': 'npgc', 'type': 'offline'}

In [17]:
students['shubham'] ={
    'college':'npgc',
    'type':'online'
}

In [19]:
pp(students)

{'abhay': {'college': 'npgc', 'type': 'offline'},
 'aman': 'npgc',
 'satyam': 'npgc',
 'sameer': 'au',
 'sumit': 'iu',
 'shoeb': {'college': 'iet', 'tpye': 'online'},
 'kartik': {'college': 'hnbgu', 'type': 'online'},
 'shreya': {'college': 'npgc', 'type': 'online'},
 'shubham': {'college': 'npgc', 'type': 'online'}}

In [21]:
students['abhay']['type']='flexi'
pp(students)

{'abhay': {'college': 'npgc', 'type': 'flexi'},
 'aman': 'npgc',
 'satyam': 'npgc',
 'sameer': 'au',
 'sumit': 'iu',
 'shoeb': {'college': 'iet', 'tpye': 'online'},
 'kartik': {'college': 'hnbgu', 'type': 'online'},
 'shreya': {'college': 'npgc', 'type': 'online'},
 'shubham': {'college': 'npgc', 'type': 'online'}}

In [26]:
students.pop('satyam')

'npgc'

In [27]:
pp(students)

{'abhay': {'college': 'npgc', 'type': 'flexi'},
 'sameer': 'au',
 'sumit': 'iu',
 'shoeb': {'college': 'iet', 'tpye': 'online'},
 'kartik': {'college': 'hnbgu', 'type': 'online'},
 'shreya': {'college': 'npgc', 'type': 'online'},
 'shubham': {'college': 'npgc', 'type': 'online'}}

In [4]:
report = {
    'class10' : {
        'rohan': {
            'english': 90,
            'maths': 95,
            'physics' : 85,
            'computer' : 89,
        },
        'mohit' : {
            'english' : 89,
            'physics' : 86,
            'computer' :95,
            'maths' : 96,
         },
         'aman' : {
            'english' : 40,
            'physics' : 52,
            'computer' : 65,
            'maths' : 40, 
         },
         'shubham' : {
             'english' : 20,
            'physics' : 58,
            'computer' : 25,
            'maths' : 35,
         },
         'satyam' : {
             'english' : 83,
            'physics' : 88,
            'computer' :97,
            'maths' : 91,
         },
         'kartik' : {
             'english' : 10,
            'physics' : 5,
            'computer' :22,
            'maths' : 26,
         },
    }
}

In [3]:
pp(report)

NameError: name 'pp' is not defined

NameError: name 'report' is not defined

In [5]:
report = {
    'class10' : {
        'rohan': {
            'english': 90,
            'maths': 95,
            'physics' : 85,
            'computer' : 89,
        },
        'mohit' : {
            'english' : 89,
            'physics' : 86,
            'computer' :95,
            'maths' : 96,
         },
         'aman' : {
            'english' : 40,
            'physics' : 52,
            'computer' : 65,
            'maths' : 40, 
         },
         'shubham' : {
             'english' : 20,
            'physics' : 58,
            'computer' : 25,
            'maths' : 35,
         },
         'satyam' : {
             'english' : 83,
            'physics' : 88,
            'computer' :97,
            'maths' : 91,
         },
         'kartik' : {
             'english' : 10,
            'physics' : 5,
            'computer' :22,
            'maths' : 26,
         },
    }
}

In [7]:
print(report.keys())

dict_keys(['class10'])

In [8]:
report['class10'].keys()

dict_keys(['rohan', 'mohit', 'aman', 'shubham', 'satyam', 'kartik'])

In [9]:
report['class10']['aman'].keys()

dict_keys(['english', 'physics', 'computer', 'maths'])

In [10]:
report['class10']['aman']['computer']

65

In [11]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 95, 'physics': 85, 'computer': 89}, 'mohit': {'english': 89, 'physics': 86, 'computer': 95, 'maths': 96}, 'aman': {'english': 40, 'physics': 52, 'computer': 65, 'maths': 40}, 'shubham': {'english': 20, 'physics': 58, 'computer': 25, 'maths': 35}, 'satyam': {'english': 83, 'physics': 88, 'computer': 97, 'maths': 91}, 'kartik': {'english': 10, 'physics': 5, 'computer': 22, 'maths': 26}}])

In [14]:
report['class10'].values()

dict_values([{'english': 90, 'maths': 95, 'physics': 85, 'computer': 89}, {'english': 89, 'physics': 86, 'computer': 95, 'maths': 96}, {'english': 40, 'physics': 52, 'computer': 65, 'maths': 40}, {'english': 20, 'physics': 58, 'computer': 25, 'maths': 35}, {'english': 83, 'physics': 88, 'computer': 97, 'maths': 91}, {'english': 10, 'physics': 5, 'computer': 22, 'maths': 26}])

In [17]:
report['class10']['kartik'].values()

dict_values([10, 5, 22, 26])

In [18]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 95, 'physics': 85, 'computer': 89}, {'english': 89, 'physics': 86, 'computer': 95, 'maths': 96}, {'english': 40, 'physics': 52, 'computer': 65, 'maths': 40}, {'english': 20, 'physics': 58, 'computer': 25, 'maths': 35}, {'english': 83, 'physics': 88, 'computer': 97, 'maths': 91}, {'english': 10, 'physics': 5, 'computer': 22, 'maths': 26}])

In [20]:
movies = {
    '3 idiots' : 'a story about 3 idiot frnds',
    'lunchbox' : 'a story about lunchbox',
    'dangal' : 'a story about dangal',
    'pk' : 'a story about pk',
    'taare zameen par' : 'a story about taare zameen par',
}

In [21]:
movies.items()

dict_items([('3 idiots', 'a story about 3 idiot frnds'), ('lunchbox', 'a story about lunchbox'), ('dangal', 'a story about dangal'), ('pk', 'a story about pk'), ('taare zameen par', 'a story about taare zameen par')])

In [22]:
movies.keys()

dict_keys(['3 idiots', 'lunchbox', 'dangal', 'pk', 'taare zameen par'])

In [27]:
movies.values()

dict_values(['a story about 3 idiot frnds', 'a story about lunchbox', 'a story about dangal', 'a story about pk', 'a story about taare zameen par'])

In [25]:
for k,v in movies.items():
    print(f'{k:20}  {v}')

3 idiots              a story about 3 idiot frnds
lunchbox              a story about lunchbox
dangal                a story about dangal
pk                    a story about pk
taare zameen par      a story about taare zameen par

In [26]:
for k,v in movies.items():
    print(k,v)

3 idiots a story about 3 idiot frnds
lunchbox a story about lunchbox
dangal a story about dangal
pk a story about pk
taare zameen par a story about taare zameen par

In [29]:
isinstance(report['class10'], dict)# verify if the object is a data type

True

In [34]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(students, dict):
                for subject, marks in subjects.items():
                    print('  ->',subject,'=', marks)

class10
-> rohan
  -> english = 90
  -> maths = 95
  -> physics = 85
  -> computer = 89
-> mohit
  -> english = 89
  -> physics = 86
  -> computer = 95
  -> maths = 96
-> aman
  -> english = 40
  -> physics = 52
  -> computer = 65
  -> maths = 40
-> shubham
  -> english = 20
  -> physics = 58
  -> computer = 25
  -> maths = 35
-> satyam
  -> english = 83
  -> physics = 88
  -> computer = 97
  -> maths = 91
-> kartik
  -> english = 10
  -> physics = 5
  -> computer = 22
  -> maths = 26

In [35]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(students, dict):
                total=0
                for subject, marks in subjects.items():
                    total += marks
                print('  total->',total)

class10
-> rohan
  total-> 359
-> mohit
  total-> 366
-> aman
  total-> 197
-> shubham
  total-> 138
-> satyam
  total-> 359
-> kartik
  total-> 63

In [38]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(students, dict):
                total=0
                for subject, marks in subjects.items():
                    total += marks
                print('  total->',total//4)

class10
-> rohan
  total-> 89
-> mohit
  total-> 91
-> aman
  total-> 49
-> shubham
  total-> 34
-> satyam
  total-> 89
-> kartik
  total-> 15

In [39]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                total = sum(subjects.values())
                print('  avg->',total//4)

class10
-> rohan
  avg-> 89
-> mohit
  avg-> 91
-> aman
  avg-> 49
-> shubham
  avg-> 34
-> satyam
  avg-> 89
-> kartik
  avg-> 15

In [44]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(subjects,dict):
                mm = None
                sub = None
                for subject, marks in subjects.items():
                    if mm is  None or mm < marks:
                        mm = marks
                        sub = subject
                    print('  max->, sub,mm')

class10
-> rohan
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
-> mohit
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
-> aman
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
-> shubham
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
-> satyam
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
-> kartik
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm
  max->, sub,mm